@media (max-width: 767px) {
  .no-wrap {
    white-space: nowrap;
  }
}

.top {
  background-color: #3778c2;
}

.icon {
  height: 128px;
  width: 128px;
  background-color: antiquewhite;
}

.bar {
  font-size: 32px;
}

.profile-picture {
  position: relative;
  display: inline-block;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.file-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
