<div class="container-fluid pt-2 mb-3 top">
  <div class="row">
    <div class="col-2">
      <div class="menu-icon mt-1">
        <%= link_to categories_path do %>
          <i class="fa-solid fa-arrow-left text-white bar"></i>
        <% end %>
      </div>
    </div>
    <div class="col-7">
      <h1 class="text-center text-white">Create Transaction</h1>
    </div>
  </div>
</div>
